node_modules
**/node_modules
.pnpm-store
**/.pnpm-store
.next
**/.next
out
**/out
dist
**/dist
build
**/build
.turbo
**/.turbo
.expo
**/.expo
*.log
**/*.log
.git
.gitignore
.env*.local
*.db
*.db-journal
*.sqlite
