# Database Connection (SQLite for local dev, PostgreSQL for production)
DATABASE_URL="file:./dev.db"

# JWT Secret for Auth
JWT_SECRET="mestory-secret-jwt-key-rostov-on-don-2026"

# Server configuration
PORT=4000
HOST="0.0.0.0"
CORS_ORIGIN="*"
NODE_ENV="development"
